<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/mdb.min.css' )}}"
/>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/mdb.umd.min.js' )}}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/base64.js' )}}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/jquery-3.5.1.js' )}}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/bootstrap.bundle.js' )}}"
></script>
<title>{{ title|default("Untitled") }} | 口算速算</title>
